
{% style %}


:root {
  --background-color: white;
  --box-shadow-color: 0 0 25px rgba(0, 0, 0, 0.3);
  --banner-image-background: url("{{ block.settings.image_with_text_image | image_url: width: 1080 }}");
  --centered-text: center;
  --left-text: left;
  --transition-ease-in-out: .3s ease-in-out;
  --button-background: radial-gradient(#0f6efd 0%, #4892dc 100%);
  --hover-button-scale: scale(0.99);
}

{% assign backgroundImage = block.settings.image_with_text_image | image_url: width: 1080 %}

{% if backgroundImage %}
  <style>
    :root {
      --banner-image-background: url("{{ backgroundImage }}");
    }
  </style>
{% else %}
  <style>
    :root {
      --banner-image-background: url(https://cloudfront-us-east-2.images.arcpublishing.com/reuters/YM4YFGPDLZMXZCKETHRSXEGZIY.jpg);
    }
  </style>
{% endif %}

{% endstyle %}



{% if block.settings.banner_css == 'popup' %}
  <link rel="stylesheet" href="{{ "popup.css" | asset_url }}">
{% elsif block.settings.banner_css == 'top' %}
  <link rel="stylesheet" href="{{ "top_banner.css" | asset_url }}">
{% elsif block.settings.banner_css == 'bottom' %}
  <link rel="stylesheet" href="{{ "bottom_banner.css" | asset_url }}">
{% endif %}




    <div class="awesoon-wrapper">
      <div class="banner">
        <div class="image-box"> </div>
        <div class="ai-response">
          <span id="aiResponseBox"></span>
        </div>
        <div class="buttons">
          <button class="reject">Reject</button>
          <button class="accept">Accept</button>
        </div>
      </div>
    </div>

<script src="{{ "fade_banner.js" | asset_url }}" defer></script>
 {% schema %}
      {
        "name": "Crumble | Cookie/GDPR",
        "target": "body",
        "settings": [
          {
            "type": "select",
            "id": "banner_css",
            "label": "Banner Style",
            "options": [
              {
                "value": "popup",
                "label": "Pop-up Box"
              },
              {
                "value": "bottom",
                "label": "Bottom Banner"
              },
              {
                "value": "top",
                "label": "Hero Banner"
              }
            ],
            "default": "popup"
          }
          ,{
            "type": "image_picker",
            "id": "image_with_text_image",
            "label": "Banner Image"
          },
          {
            "type": "color",
            "id": "banner_background_color",
            "label": "Background Color",
            "default": "#2c3c4c"
          },
          {
            "type": "color",
            "id": "banner_text_color",
            "label": "Text Color",
            "default": "#080808"
          }
          
        ]
      }
    {% endschema %}